{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>News</title>
</head>
<body>

{% for new in object_list %}

    <header>
        <div class="general_div">
            <div class="d1">
                <a href="{% url 'title' new.slug %}">NEWS</a>
            </div>

            <div class="d2">
                <ul>
                    <li class="l1">CATEGORIES
                        <hr>
                        <ul>
                            <li class="l2"><a href="#">WORLD</a></li>
                            <li class="l2"><a href="#">ARM POLITICS</a></li>
                            <li class="l2"><a href="#">HEALTH</a></li>
                            <li class="l2"><a href="#">STYLE</a></li>
                            <li class="l2"><a href="#">SPORTS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

{% endfor %}

</body>
</html>