{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>News</title>
</head>
<body>

    <header>
        <div class="general_div">
            <div class="d1">
                <a href="">NEWS</a>

            </div>

            <div class="d2">
                <ul>
                    <li class="l1">CATEGORIES
                        <hr>
                        <ul>
{% for new in category %}

                            <li class="l2"><a href="{% url 'new' new.slug %}">{{ new.title }}</a></li>
{% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </header>



</body>
</html>